<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWeb20180414</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllUser</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.FindAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUser</servlet-name>
    <url-pattern>/admin/findAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/admin/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCostomerServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteCostomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCostomerServlet</servlet-name>
    <url-pattern>/admin/deleteCostomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/admin/updateUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <description>character encode filter</description>
      <param-name>encoding</param-name>
      <param-value>GB2312</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/testtags</taglib-uri>
      <taglib-location>/WEB-INF/tlds/myTags.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/jstlc</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>FindAllCostomer</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.FindAllCostomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllCostomer</servlet-name>
    <url-pattern>/admin/findAllCostomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCostomerCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteCostomerCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCostomerCheckServlet</servlet-name>
    <url-pattern>/admin/deleteCostomerCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCostomerServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdateCostomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCostomerServlet</servlet-name>
    <url-pattern>/admin/updateCostomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllCourse</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.FindAllCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllCourse</servlet-name>
    <url-pattern>/findAllCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllTeacher</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.FindAllTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllTeacher</servlet-name>
    <url-pattern>/findAllTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseServlet</display-name>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/admin/deleteCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherServlet</display-name>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/admin/deleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCostomerServlet</display-name>
    <servlet-name>InsertCostomerServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.InsertCostomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCostomerServlet</servlet-name>
    <url-pattern>/admin/insertCostomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTeacherServlet</display-name>
    <servlet-name>InsertTeacherServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.InsertTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTeacherServlet</servlet-name>
    <url-pattern>/admin/insertTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCourseServlet</display-name>
    <servlet-name>InsertCourseServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.InsertCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCourseServlet</servlet-name>
    <url-pattern>/admin/insertCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacherServlet</display-name>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/admin/updateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/admin/updateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseCheckServlet</display-name>
    <servlet-name>DeleteCourseCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteCourseCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseCheckServlet</servlet-name>
    <url-pattern>/admin/deleteCourseCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherCheckServlet</display-name>
    <servlet-name>DeleteTeacherCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteTeacherCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherCheckServlet</servlet-name>
    <url-pattern>/admin/deleteTeacherCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserCheckServlet</display-name>
    <servlet-name>DeleteUserCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.DeleteUserCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserCheckServlet</servlet-name>
    <url-pattern>/admin/deleteUserCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassServlet</display-name>
    <servlet-name>UpdatePassServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdatePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassServlet</servlet-name>
    <url-pattern>/updatePassServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NameCheckServlet</display-name>
    <servlet-name>NameCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.NameCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameCheckServlet</servlet-name>
    <url-pattern>/nameCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheckServlet</display-name>
    <servlet-name>IdCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.IdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheckServlet</servlet-name>
    <url-pattern>/admin/idCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIdCheckServlet</display-name>
    <servlet-name>UserIdCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UserIdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIdCheckServlet</servlet-name>
    <url-pattern>/userIdCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseIdCheckServlet</display-name>
    <servlet-name>CourseIdCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.CourseIdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseIdCheckServlet</servlet-name>
    <url-pattern>/admin/courseIdCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherIdCheckServlet</display-name>
    <servlet-name>TeacherIdCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.TeacherIdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherIdCheckServlet</servlet-name>
    <url-pattern>/admin/teacherIdCheckServlet</url-pattern>
  </servlet-mapping>
 
</web-app>